/* declines the style (css) for the body of the website (index.html) */
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
  }
  /* declines the style (css) for the card aka the box in the middle of the website (index.html) */
  .card {
    background: #ffffffd0;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
  }
  /* declines the style (css) for the search bar of the website (index.html) */
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* declines the style (css) for the search button on the website (index.html) */
  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: rgb(0, 81, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  /* declines the style (css) for the search bar input of the website (index.html) */
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: rgb(0, 81, 255);
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }
  /* declines the style (css) for the hover button on the website (index.html) */
  button:hover {
    background: #7c7c7c6b;
  }
  /* declines the style (css) for the shown temperature of the website (index.html) */
  h1.temp {
    align-items: center;
    margin: 0;
    margin-bottom: 0.4em;
  }

  .flex {
    align-items: center;
    display: flex;
    align-items: center;
  }

  /* declines the style (css) for the loading weather which isnt showen on the website (index.html) though */
  .weather.loading {
    align-items: center;
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  /* declines the style (css) for the loading weather which isnt showen on the website (index.html) though */
  .weather.loading:after {
    align-items: center;
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }
